.background{
    height: 100vh;
    width:auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    position: relative;
    .sayHello{
        align-self: center;
        border-left:  2px solid $details-color;
        padding: 2% 5%;
        overflow-x:hidden; 
        p{
            font-size: 40px;
            animation: animationp 5s;
            animation-fill-mode: forwards;

        }
    }
    .leftAnimation{
        position: absolute;
        left:0;
        top:0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;

        div:nth-child(1){
           background-color:$base-color;
            height: 30px;
            padding-bottom: 20px;
            animation: animationDivs 2s infinite;
            animation-duration: 1s;
        }
        div:nth-child(2){
            background-color:$details-color;
            height: 30px;
            animation: animationDivs 2s infinite;
            animation-duration: 2s;



        }
        div:nth-child(3){
            background-color:$base-color;
            height: 30px;
           animation: animationDivs 2s infinite;
           animation-duration: 3s;



        }
        div:nth-child(4){
            background-color:$details-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 4s;


        }
        div:nth-child(5){
            background-color:$base-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 1s;


        }
        div:nth-child(6){
            background-color:$details-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 2s;
        }
        div:nth-child(7){
            background-color:$base-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 3s;
        }
        div:nth-child(8){
            background-color:$details-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 4s;
        }
    }
    .rightAnimation{
        position: absolute;
        right:0;
        top:0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100vh;

        div:nth-child(1){
            background-color:$details-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 1s;
           align-self: flex-end;


        }
        div:nth-child(2){
            background-color:$base-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 2s;
           align-self: flex-end;


        }
        div:nth-child(3){
            background-color:$details-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 3s;
           align-self: flex-end;


        }
        div:nth-child(4){
            background-color:$base-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 4s;
           align-self: flex-end;


        }
        div:nth-child(5){
            background-color:$details-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 1s;
           align-self: flex-end;


        }
        div:nth-child(6){
            background-color:$base-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 2s;
           align-self: flex-end;
        }
        div:nth-child(7){
            background-color:$details-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 3s;
           align-self: flex-end;

        }
        div:nth-child(8){
            background-color:$base-color;
            height: 30px;
            animation: animationDivs 2s infinite;
           animation-duration: 4s;
           align-self: flex-end;

        }
    }
    
}

@keyframes animationp{
    0%{
     transform: translateX(-700px);
    }
    100%{
    transform: translateX(0px);
    }
}

@keyframes animationDivs{
    0%{
    width:0vw;
    }
    20%{
    width: 5vw;     
    }
    50%{
    width: 15vw;  
    }
    70%{
    width: 5vw;  
    }
    100%{
    width: 0vw;  
    }
}