.contact{
    height: 100vh;
    width:auto;
    background-image:url(../img/work-731198_1920.jpg);
    display: flex;
    justify-content: center;
    @media(max-width:639px){
    background-image: url(../img/work-731198_1920_639.jpg);
      
    }
    @media(min-width:640px) and (max-width:1280px){
    background-image: url(../img/work-731198_1920_1280.jpg);
        
    }
    .form{
       display: flex;
       justify-content: center;
       text-align: center;
       flex-direction: column;
       
       
       .form-row{
        display: flex;
        background-color: rgba(255,255,255,0.8);
        padding: 0 10% 0 10%;
        width:60vw;
        @media(max-width:639px){
            width: 100vw;
            flex-direction: column;
          
        }
        @media(min-width:640px) and (max-width:1280px){
            width: 80vw;
            
        }
        &:nth-of-type(1){
            
            border-left:2px solid $details-color;
            border-top:2px solid $details-color;
            border-right: 2px solid $details-color;
            @media(max-width:639px){
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-left:0px;
            border-right:0px;
            padding-top: 3%;
            flex-direction: row;
            }
        }
        &:nth-of-type(2){
            border-left:2px solid $details-color;
            border-right: 2px solid $details-color;
            @media(max-width:639px){
            border-left:0px;
            border-right:0px;
            flex-direction: row;

            }
        }
        &:nth-of-type(3){
            border-left:2px solid $details-color;
            border-right: 2px solid $details-color;
            @media(max-width:639px){
                border-left:0px;
                border-right:0px;
                padding-top: 3%;
                
                }
        }
        &:nth-of-type(4){
            
            border-left:2px solid $details-color;
            border-bottom:2px solid $details-color;
            border-right: 2px solid $details-color;
            @media(max-width:639px){
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                border-left:0px;
                border-right:0px;
                  
                }
        }

        label{
            flex-basis: 50%;
            font-size: 20px;
            padding: 3% 0 3% 0;
            align-self: center;
            @media(max-width:639px){
                font-size: 16px;
                padding: 0;                
                
            }
            @media(min-width:640px) and (max-width:1280px){
                font-size: 16px;
                
            }
           
            
        }
        input{
            flex-basis: 50%;
            align-self: center;
            height: 5vh;
            margin: 3% 0 3% 0;
            font-family: 'Quicksand', sans-serif;
           
        }
        select{
            flex-basis: 50%;
            align-self: center;
            height: 5vh;
            margin: 3% 0 3% 0;
            font-family: 'Quicksand', sans-serif;

          

        }
        textarea{
            flex-basis: 50%;
            height: 10vh;
            margin: 3% 0 3% 0;
            font-family: 'Quicksand', sans-serif;

           
        }
       }
       input[type="submit"]{
           width:200px;
           height: 50px;
           align-self: center;
           margin-top: 2%;
           border:2px solid $details-color;
           cursor: pointer;
           font-size: 20px;
           font-family: 'Quicksand', sans-serif;
           transition: 0.2s;
           
           @media(max-width:639px){
           margin-top: 3%; 
           width:150px;
           height: 40px;                   
        }
        @media(min-width:640px) and (max-width:1280px){
            width:150px;
           height: 40px;  
            
        }

           &:hover{
            background-color: rgba(255,255,255,0.5);
            

           }


       }
    }
    
}