.offer{
    height: 100vh;
    width:auto;
    display: flex;
    flex-direction: column;
    .offerRow1{
        display: flex;
        justify-content: space-between;
        div{
            flex-basis: 33%;
            
            img{
                width: 100%;
            }
            
        }
        .description{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2%;
            margin-right: 2%;
            line-height: 1.5;
            font-size: 22px;
            text-align: center;
            span{
                color:$details-color;
            }
        }
    }
    .offerRow2{
        display: flex;
        justify-content: space-between;
        div{
            flex-basis: 33%;
            img{
                width: 100%;
            }
        }
        .description{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2%;
            margin-right: 2%;
            line-height: 1.5;
            font-size: 22px;
            text-align: center;
            span{
                color:$details-color;
            }
        }
    } 
    
}